/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.3ch !important;
}

html,
body {
  min-height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  --webkit-appearance: none !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* main css */
@font-face {
  font-family: GameofThrones;
  src: url("./assets/GameofThrones.ttf") format("truetype");
}

.App,
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: black !important;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
  font-family: GameofThrones;
}

.App {
  width: 100vw;
  background-image: url("/background3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 900px) {
  .App {
    min-height: 100vh;
    font-size: 14px;
  }
}

/* Styles for screens between 900px and 1100px wide */
@media (min-width: 900px) and (max-width: 1100px) {
  .App {
    min-height: 100vh;
    font-size: 16px;
  }
}

/* Styles for screens wider than 1100px */
@media (min-width: 1100px) {
  .App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
